@media only screen and (max-width : 5000px) {
	.num-page{
		display: none !important;
	}
}
@media only screen and (max-width : 1537px) {
	.num-page{
		display: flex !important;
	}
}
@media only screen and (max-width : 1306px) {
	.owl-carousel.gallery-cont .owl-nav{
		bottom: -5%;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {
	.num-page{
		display: none !important;
	}
	.main-section .txt{
		font-size: 60px !important;
	}
	.light-logo {
    	width: 65%;
	}
	.header .phone {
    	padding-top: 15px;
	}
	.cont-uslugi img {
    	width: 70%;
	}
	.cont-uslugi.third {
		padding-top: 80px;
	}
	.items-cont-vacancy {
    	margin-left: 0px;
	}
	.item-vacancy {
    	margin-right: 15px;
	}
	.navbar-dark .navbar-nav .nav-link, .header .phone a{
		font-size: 13px;
	}
}

@media only screen and (max-width : 1061px) {
	.cont-uslugi img {
    	width: 100%;
	}
	.cont-uslugi.sec, .cont-uslugi.fourth{
		padding: 95px;
	}
	.cont-uslugi.third .svg{
		margin-bottom: 30px;
	}
	.office-maintext p, .office-button a{
		font-size: 13px;
	}
	.owl-carousel.gallery-cont .owl-nav{
		bottom: -15%;
	}
}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {
	.image-inf.stars img {
    	width: 35%;
	}
	.image-inf img {
    	width: 30%;
	}
	.inf-cont .small {
    	font-size: 10px;
	}
	.menu-hamburger{
		width: 19px;
	}
	.navbar-dark .navbar-toggler{
		border-color: transparent;
	}
	.main-section .txt {
    	font-size: 40px !important;
	}
	.about {
    	padding: 40px 0px;
	}
	.owl-carousel.gallery-cont .owl-nav{
		left: -60%;
		bottom: -20%;
	}
	.header-scrolled .collapse.in{
	   -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	   box-shadow: 0px 4px 3px 0px rgb(0 0 0 / 30%);
	 }
	 .header .collapse.in, .header .collapsing{
	   -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	   -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.5);
	   box-shadow: 0px 4px 3px 0px rgb(0 0 0 / 30%);
	 }
	 .navbar-dark .navbar-nav .nav-link, .header .phone a {
    	font-size: 15px;
	}
	.navbar-collapse{
		background-color: #121e34e0;
		border-top: none;
      	-webkit-box-shadow: none;
      	-moz-box-shadow: none;
      	box-shadow: none;
      	width: 100%;
      	left: 0;
      	top: 50px;
      	position: absolute;
      	padding: 0px 35px 0px 35px;
      	z-index: 40;
	}
	.header .phone{
		padding-top: 0;
		padding: 15px 0px;
	}
	.navbar-dark .navbar-nav .nav-link {
    	padding: 15px 0px;
    	border-bottom: 1px solid #ffffff6e;
	}
	.navbar-nav{
		margin-top: 7px;
	}
	.navbar{
		padding-bottom: 0;
	}



}
@media only screen and (max-width : 905px) {
.cont-uslugi.sec, .cont-uslugi.fourth {
    	padding: 77px;
	}
	.cinzel{
		font-size: 25px;
	}
	.cinzel.small{
		font-size: 15px;
	}
	.uslugi .text{
		font-size: 12px;
	}
}
@media only screen and (max-width : 843px){
	.office-maintext.mb-5{
		margin-bottom: 20px !important;
	}
	.office-heading h2{
		font-size: 20px;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width : 767px) {
	.owl-carousel.main .owl-dots{
		bottom: 10%;
    	right: 8.5%;
	}
	.owl-carousel.main button.owl-dot{
		width: 9px;
    	height: 9px;
	}
	.main-section .owl-carousel .owl-item img{
		height: 500px;
		object-position: right;
		object-fit: cover;
	}
	.light-logo {
    	width: 55%;
	}
	.uslugi .order-cont{
		order: 2;
	}
	.cont-uslugi.sec, .cont-uslugi.fourth {
    	padding: 57px;
	}
	.cont-uslugi img {
    	width: 50%;
	}
	.cont-uslugi.third {
    	padding: 40px;
	}
	.cont-uslugi.third img {
    	width: 65%;
	}
	.office .owl-item{
		margin-left: 0;
	}
	.office .container-fluid {
		padding-right: var(--bs-gutter-x,.75rem);
    	padding-left: var(--bs-gutter-x,.75rem);
	}
	.infra h2{
		font-size: 20px;
	}
	.image-inf img {
    	width: 15%;
	}
	.image-inf.stars img {
    	width: 21%;
	}
	.vacancy {
    	padding: 50px 0px;
	}
    .footer .text-size {
    	font-size: 12px;
	}
	.owl-carousel.gallery-cont .owl-nav{
		bottom: -30%;
	}


  
}
@media only screen and (max-width : 685px){
	.owl-carousel.gallery-cont .owl-nav{
		bottom: -50%;
	}
}

@media only screen and (max-width : 636px) {
	.main-section .owl-carousel .owl-item img{
		height: 500px;
		object-position: center;
		object-fit: cover;
	}
	.main-section .txt {
    	font-size: 35px !important;
	}
	.about h2{
		font-size: 25px;
		margin-bottom: 20px;
	}
	.about p {
    	font-size: 12px;
	}
	.main-section .txt{
		top: 50%;
	}
	.owl-carousel.gallery-cont .owl-nav{
		bottom: -65%;
	}

  
}
@media only screen and (max-width : 600px) {
	.owl-carousel.gallery-cont .owl-nav{
		bottom: -80%;
	}
}
@media only screen and (max-width : 576px) {
	.office-text{
		margin-top: 20px;
	}
	.image-inf img {
    	width: 7%;
	}
	.image-inf.stars img {
    	width: 10%;
	}
	.infra .inf-cont{
		margin-bottom: 35px;
	}
	.gallery .container-fluid{
		--bs-gutter-x:.75rem;
	}
	.gallery-cont .item {
    	margin: 0px 10px;
	}
	.gallery {
    	padding: 50px 0px;
    }
    .text-gallery{
    	margin-bottom: 35px;
    }
    .map-sec .map-text-cont{
    	padding: 70px 0px;
    }
    iframe{
    	height: 500px;
    }
    .footer .logo-footer-image {
    	margin-bottom: 50px;
	}
	.cont-foot{
		margin-bottom: 50px;
	}
	.cont-foot.social{
		margin-bottom: 0px;
	}
    .footer{
    	padding: 50px 0px;
    }
    .inst, .face {
    	margin-right: 30px;
    	margin-left: 0px;
	}
	.logo-footer-image img {
    	width: 35%;
	}
}


/* Extra Small Devices, Phones */
@media only screen and (max-width : 480px) {
	.main-section .txt {
    	font-size: 30px !important;
	}
	
}

@media only screen and (max-width : 402px) {
	.light-logo {
    	width: 100%;
	}
	.header .logo_img{
		width: 50%;
	}
	.navbar-toggler{
		font-size: 16px;
		padding: 0;
	}
	.logo-footer-image img {
    	width: 50%;
	}

}

/* Custom, iPhone Retina */
@media only screen and (max-width : 320px) {
	

}


/*==========  Mobile First Method  ==========*/

/* Custom, iPhone Retina */
@media only screen and (min-width : 320px) {

}

/* Extra Small Devices, Phones */
@media only screen and (min-width : 480px) {

}

@media only screen and (min-width : 576px) {

}

/* Small Devices, Tablets */
@media only screen and (min-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (min-width : 992px) {

}

 /* Large Devices, Wide Screens */
@media only screen and (min-width : 1200px) {
  
}